/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2015, 12:33:25 PM
    Author     : Anup Biswas <anup@illusivedesign.net>
*/
html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #404040; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #000; }

h1 {
  font-size: 39px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

span[aria-hidden="true"], a[aria-hidden="true"], label[aria-hidden="true"] {
  display: none; }

#page-wrap {
  /*  background-image: url(../images/tpl-home.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 2727px;*/ }

#header {
  background-image: url(../images/pattern.png);
  min-height: 89px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.21);
  z-index: 10; }
  #header .topbar {
    background-color: #e2e2e2;
    height: 29px; }
    #header .topbar a.tel-no {
      padding: 0;
      line-height: 29px;
      color: #404040;
      border: 0px;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none; }
      #header .topbar a.tel-no i.fa {
        font-size: 15px; }
  #header .header-inner {
    background-color: transparent;
    position: relative;
    box-shadow: 0 20px 16px -10px rgba(0, 0, 0, 0.35) inset; }
  #header .navbar-header {
    position: relative;
    min-height: 60px; }
    #header .navbar-header .navbar-brand {
      margin-top: -9px;
      padding: 0 2px;
      position: relative;
      z-index: 10;
      position: absolute; }
    #header .navbar-header .navbar-toggle {
      border-color: #fff; }
      #header .navbar-header .navbar-toggle .icon-bar {
        background: #fff; }
    @media (max-width: 992px) {
      #header .navbar-header {
        width: 100%; } }
  #header .navbar-primary {
    background-color: transparent; }
    #header .navbar-primary .nav .menu-item {
      vertical-align: top;
      text-align: left;
      padding: 0 2px; }
      #header .navbar-primary .nav .menu-item > a {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 15px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        padding: 18px 13px 13px; }
        #header .navbar-primary .nav .menu-item > a:hover {
          border-color: #bc0e16; }
      #header .navbar-primary .nav .menu-item.current-menu-item > a {
        border-color: #bc0e16; }
      #header .navbar-primary .nav .menu-item.current-menu-ancestor > a {
        border-color: #bc0e16; }
      #header .navbar-primary .nav .menu-item.dropdown .drop_icon {
        display: none; }
      #header .navbar-primary .nav .menu-item.dropdown:hover > ul.dropdown-menu {
        display: block; }
    #header .navbar-primary ul.dropdown-menu {
      border: 0;
      border-radius: 0;
      padding: 0;
      background: #303030; }
      #header .navbar-primary ul.dropdown-menu > li.menu-item {
        padding: 0;
        position: relative; }
        #header .navbar-primary ul.dropdown-menu > li.menu-item > a {
          padding: 10px 15px 11px;
          border-bottom: 0;
          border-left: 3px solid transparent;
          display: block;
          font-weight: normal;
          background: none !important; }
          #header .navbar-primary ul.dropdown-menu > li.menu-item > a i {
            display: none;
            position: absolute;
            right: 10px;
            top: 50%;
            line-height: 10px;
            font-size: 10px;
            margin-top: -5px; }
        #header .navbar-primary ul.dropdown-menu > li.menu-item + li {
          border-top: 1px solid #454545; }
        #header .navbar-primary ul.dropdown-menu > li.menu-item > ul {
          left: 100%;
          top: 0; }
        #header .navbar-primary ul.dropdown-menu > li.menu-item.menu-item-has-children > a i {
          display: block;
          color: inherit; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ End Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page-banner.innerbanner {
  min-height: 120px; }
  #page-banner.innerbanner .banner-content {
    position: relative;
    min-height: 120px;
    padding-bottom: 22px; }
  #page-banner.innerbanner .page-title {
    background: none;
    font-size: 39px;
    margin-top: 22px;
    padding-left: 0px;
    padding-bottom: 0px;
    color: #fff; }
  #page-banner.innerbanner .page-subtitle {
    font-size: 20px;
    color: #e2e2e2;
    padding-left: 15px; }
  #page-banner.innerbanner .breadcrumb {
    background: transparent;
    padding: 10px 25px;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0;
    background-color: rgba(77, 5, 9, 0.4); }
    #page-banner.innerbanner .breadcrumb > li a, #page-banner.innerbanner .breadcrumb > li span {
      color: #fffefe;
      font-size: 13px;
      display: inline-block;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1; }

.camera_eli_skin {
  min-height: 50%; }
  .camera_eli_skin .camera_loader {
    background-color: transparent; }
  .camera_eli_skin .cameraContent .camera_caption > div {
    background: transparent;
    padding: 0;
    margin: 0; }
  .camera_eli_skin .cameraContent .camera_caption .container {
    position: relative; }
  .camera_eli_skin .cameraContent .camera_caption .caption-title {
    margin: 0;
    padding: 25px;
    position: relative;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 20px; }
    .camera_eli_skin .cameraContent .camera_caption .caption-title:before {
      position: absolute;
      z-index: -1;
      content: " ";
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: .92;
      background: #990910;
      background: -moz-linear-gradient(top, #990910 0%, #bc0e16 25%);
      background: -webkit-linear-gradient(top, #990910 0%, #bc0e16 25%);
      background: linear-gradient(to bottom, #990910 0%, #bc0e16 25%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990910', endColorstr='#bc0e16',GradientType=0 ); }
    .camera_eli_skin .cameraContent .camera_caption .caption-title .title {
      display: inline-block;
      max-width: 767px;
      padding: 0 15px;
      color: #fff; }
    @media (max-width: 768px) {
      .camera_eli_skin .cameraContent .camera_caption .caption-title {
        font-size: 14px;
        padding: 10px 25px; } }
  .camera_eli_skin .cameraContent .camera_caption .caption-text {
    max-width: 470px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    bottom: 165px;
    max-width: 470px;
    padding: 15px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0px;
    line-height: 1.2;
    border-radius: 5px; }
    .camera_eli_skin .cameraContent .camera_caption .caption-text p {
      margin: 0; }
    @media (min-width: 1200px) {
      .camera_eli_skin .cameraContent .camera_caption .caption-text {
        right: -65px;
        padding: 31px 40px;
        line-height: 1.75; } }
    @media (max-width: 992px) {
      .camera_eli_skin .cameraContent .camera_caption .caption-text {
        display: none; } }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ End Banner ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#main-contents {
  position: relative;
  background-color: #fff;
  opacity: 1; }
  #main-contents .page-block {
    padding: 45px 0px 44px; }
    #main-contents .page-block .block-title {
      text-transform: uppercase;
      color: #404040; }
      @media (max-width: 992px) {
        #main-contents .page-block .block-title {
          text-align: center; } }
  #main-contents .products-grid {
    padding: 25px 11px 10px; }
    #main-contents .products-grid .product-gcol {
      padding: 0 4px; }
      #main-contents .products-grid .product-gcol .product-thumb {
        padding: 0;
        border-radius: 0;
        text-align: center;
        position: relative;
        margin-bottom: 8px;
        box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.08);
        border: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        #main-contents .products-grid .product-gcol .product-thumb > img {
          max-width: 100%; }
        #main-contents .products-grid .product-gcol .product-thumb .caption {
          border-top: 1px solid #f3f3f3;
          font-size: 13px;
          color: #404040;
          font-weight: bold;
          text-align: left;
          padding: 14px 18px;
          min-height: 70px; }
          #main-contents .products-grid .product-gcol .product-thumb .caption p {
            margin: 0; }
        #main-contents .products-grid .product-gcol .product-thumb > .thumbnail-links {
          position: absolute;
          left: 0;
          bottom: 0;
          top: 0;
          right: 0;
          display: block;
          z-index: 1; }
        #main-contents .products-grid .product-gcol .product-thumb:hover {
          box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); }
  #main-contents #service-widgets {
    background-color: #333;
    padding-bottom: 20px; }
    #main-contents #service-widgets .widgets-areas {
      padding-top: 30px;
      padding-bottom: 0px; }
    #main-contents #service-widgets .block-title {
      color: #fff;
      text-align: center; }
    #main-contents #service-widgets .widget {
      margin-bottom: 30px; }
      #main-contents #service-widgets .widget .wdrap {
        border: 1px solid rgba(230, 230, 230, 0.28);
        background-color: rgba(44, 44, 44, 0.3);
        color: #e2e2e2;
        position: relative;
        overflow: hidden;
        padding: 25px 28px 0px; }
        #main-contents #service-widgets .widget .wdrap .widget-title {
          color: #ffffff;
          font-size: 16px;
          text-transform: uppercase;
          margin-bottom: 25px; }
        #main-contents #service-widgets .widget .wdrap ul {
          padding: 0px;
          margin: 0px;
          margin-bottom: 25px; }
          #main-contents #service-widgets .widget .wdrap ul > li {
            list-style: none; }
            #main-contents #service-widgets .widget .wdrap ul > li a {
              color: inherit;
              text-decoration: none; }
        #main-contents #service-widgets .widget .wdrap:after {
          content: " ";
          position: absolute;
          top: -20px;
          right: -20px;
          width: 2.386em;
          height: 2.386em;
          background: #bc0e16;
          z-index: 10;
          -moz-transform: rotate(136deg);
          -o-transform: rotate(136deg);
          -ms-transform: rotate(136deg);
          -webkit-transform: rotate(136deg);
          transform: rotate(136deg); }
  #main-contents #gallery-tiles .gallery-wrap {
    padding: 27px 0px 10px; }
    #main-contents #gallery-tiles .gallery-wrap .gallery-gcol {
      overflow: hidden;
      vertical-align: top;
      display: inline-block; }
  #main-contents #gallery-tiles .block-title {
    text-align: center;
    color: #404040; }
  #main-contents #gallery-tiles .gallery-thumb {
    padding: 0;
    border-radius: 0;
    position: relative;
    border: 0;
    padding: 0px;
    margin: 0px 0 10px; }
    #main-contents #gallery-tiles .gallery-thumb .caption {
      display: none; }
    #main-contents #gallery-tiles .gallery-thumb .thumbnail-links {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 10;
      right: 0;
      background: rgba(0, 0, 0, 0.3) url(../images/zoom.png) center center no-repeat;
      opacity: 0;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      #main-contents #gallery-tiles .gallery-thumb .thumbnail-links:hover {
        opacity: 1; }
  #main-contents #gallery-tiles .block-bottom .btn-link {
    color: #bc0e16;
    text-transform: uppercase; }

#bottom-widgets {
  background-color: #303030;
  position: relative; }
  #bottom-widgets .widget-area {
    margin-bottom: 30px; }
  #bottom-widgets .widget .widget-title {
    color: #e2e2e2;
    font-size: 16px; }
  #bottom-widgets .widget .textwidget {
    font-size: 14px;
    color: #e2e2e2; }
  #bottom-widgets .widget .menu {
    padding: 0;
    margin: 0; }
    #bottom-widgets .widget .menu > li {
      display: block;
      list-style: none; }
      #bottom-widgets .widget .menu > li > a {
        font-size: 14px;
        color: #e2e2e2;
        text-decoration: none;
        border-bottom: 1px solid #454545;
        display: block;
        padding: 6px 0px; }
        #bottom-widgets .widget .menu > li > a:hover {
          color: #bc0e16; }
  #bottom-widgets .widget.widget_nav_menu {
    display: inline-block;
    padding-right: 6%;
    vertical-align: top;
    width: 45%; }
    @media (max-width: 992px) {
      #bottom-widgets .widget.widget_nav_menu {
        width: 99%;
        padding-right: 0%;
        display: block;
        margin-bottom: 0px; } }
  #bottom-widgets:after {
    position: absolute;
    content: " ";
    width: 60px;
    height: 72px;
    top: -45px;
    left: 50%;
    margin-left: -30px;
    background-color: transparent;
    background-image: url(../images/logo-small.png);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1; }

#footer {
  background: #2b2b2b; }
  #footer .footer-nav {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: lighter;
    color: #e2e2e2; }
    #footer .footer-nav a {
      color: inherit; }
  #footer .copyright {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: lighter;
    color: #e2e2e2; }
    #footer .copyright a, #footer .copyright p {
      color: inherit; }
  @media (max-width: 992px) {
    #footer {
      padding-bottom: 15px; } }

#inner-content img.aligin-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 6px; }
#inner-content .entry-sidebar .widget .widget-title {
  background-color: #696969;
  color: #fff;
  border-bottom: 0;
  font-size: 16px;
  padding: 6px 10px 5px; }
#inner-content .entry-sidebar .widget .winner {
  background: #f2f2f2;
  font-size: 14px;
  padding: 20px; }
  #inner-content .entry-sidebar .widget .winner .btn-link {
    color: #bc0e16;
    padding: 6px 0px; }
  #inner-content .entry-sidebar .widget .winner .form-group .form-control {
    color: #404040;
    background: #fff;
    border-color: #FFF; }
  #inner-content .entry-sidebar .widget .winner .btn.btn-submit {
    padding: 6px 15px; }

.gallery-popup-wrap .popup-gallery {
  text-align: center; }
  .gallery-popup-wrap .popup-gallery .gallery-item {
    display: inline-block;
    vertical-align: top;
    position: relative; }
    .gallery-popup-wrap .popup-gallery .gallery-item .thumbnail {
      padding: 0;
      display: block;
      border: 0;
      border-radius: 0;
      margin: 3px;
      max-width: 66px;
      max-height: 68px;
      overflow: hidden;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .gallery-popup-wrap .popup-gallery .gallery-item .thumbnail:hover {
        opacity: .8;
        background: #000; }
.gallery-popup-wrap .gallery-link {
  display: inline-block;
  color: #bc0e16;
  padding: 8px 0px;
  text-decoration: none; }

.page-template-tpl-contactus2 .contact-sideinner h3 {
  margin-bottom: 15px; }
.page-template-tpl-contactus2 .contact-sideinner .theme_social > li > a {
  background: #bc0e16;
  color: #fff; }
.page-template-tpl-contactus2 .contact-sideinner .address-box {
  color: #404040; }
  .page-template-tpl-contactus2 .contact-sideinner .address-box .address {
    color: #404040; }
  .page-template-tpl-contactus2 .contact-sideinner .address-box a {
    color: inherit;
    text-decoration: none; }
  .page-template-tpl-contactus2 .contact-sideinner .address-box .addr-phone, .page-template-tpl-contactus2 .contact-sideinner .address-box .addr-email {
    white-space: nowrap; }

.els-heading {
  position: relative; }
  .els-heading:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    margin-top: -3px;
    border-width: 1px 0px;
    border-color: #E2E2E2;
    border-style: solid;
    height: 6px; }
  .els-heading .sr {
    background: #FFF;
    position: relative;
    z-index: 1;
    padding-right: 20px; }

.eli-dropcap {
  position: relative; }
  .eli-dropcap > p:first-child:first-letter {
    color: #bc0e16;
    font-weight: bold;
    float: left;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    padding: 10px; }
  .eli-dropcap.dropcap-small > p:first-child:first-letter {
    font-weight: bold;
    float: left;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    padding: 5px; }
  .eli-dropcap.dropcap-large > p:first-child:first-letter {
    font-weight: bold;
    float: left;
    font-size: 90px;
    height: 90px;
    line-height: 90px;
    margin-right: 20px;
    padding: 20px; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Inner Contents ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#inner-content {
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Product Listing ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Service Listing ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Gallery Listing ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Bootstrap Custom ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ }
  #inner-content .entry-content p {
    line-height: 1.4; }
  #inner-content .entry-content figure.wp-caption .wp-caption-text, #inner-content .entry-content img.wp-caption .wp-caption-text {
    background: #f9f9f9;
    padding: 8px 15px;
    line-height: 1.2;
    font-size: 12px; }
  #inner-content .entry-content figure.alignleft, #inner-content .entry-content img.alignleft {
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 8px; }
  #inner-content .entry-content hr, #inner-content .entry-content .hr {
    border-width: 1px 0px;
    border-color: #E2E2E2;
    border-style: solid;
    height: 6px;
    clear: both; }
  #inner-content .entry-content .blockquote, #inner-content .entry-content blockquote {
    padding: 16px 20px !important;
    border-width: 0 0 0 2px !important;
    border-color: #bc0e16 !important;
    box-shadow: none !important;
    background-color: #f9f9f9;
    font-style: italic;
    color: #404040 !important;
    margin-left: 40px; }
  #inner-content .entry-content ul.square {
    margin: 0 0 15px;
    padding: 0; }
    #inner-content .entry-content ul.square > li {
      list-style: none;
      display: block;
      position: relative;
      padding: 0 0 0 20px; }
      #inner-content .entry-content ul.square > li:before {
        position: absolute;
        content: " ";
        width: 9px;
        height: 9px;
        left: 0;
        top: 9px;
        background-color: #bc0e16; }
  #inner-content .eli_products, #inner-content .eli_service {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 45px; }
    #inner-content .eli_products .entry-content, #inner-content .eli_service .entry-content {
      margin-bottom: 45px; }
    #inner-content .eli_products .featured-image, #inner-content .eli_service .featured-image {
      padding: 0; }
    #inner-content .eli_products .entry-header, #inner-content .eli_service .entry-header {
      padding: 0;
      margin: 0;
      border: 0; }
      #inner-content .eli_products .entry-header .entry-title, #inner-content .eli_service .entry-header .entry-title {
        color: #bc0e16; }
        #inner-content .eli_products .entry-header .entry-title > a, #inner-content .eli_service .entry-header .entry-title > a {
          color: inherit;
          text-decoration: none; }
    #inner-content .eli_products .entry-excerpt .btn-link, #inner-content .eli_service .entry-excerpt .btn-link {
      padding: 0;
      color: #bc0e16; }
    #inner-content .eli_products.single-product, #inner-content .eli_products.single-service, #inner-content .eli_service.single-product, #inner-content .eli_service.single-service {
      border-bottom: 0px; }
  #inner-content .album-wrap {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 15px;
    margin-bottom: 30px; }
    #inner-content .album-wrap .album-title {
      color: #bc0e16;
      margin-bottom: 25px; }
    #inner-content .album-wrap .btn-link {
      padding: 6px 0;
      text-transform: uppercase;
      text-decoration: none;
      color: #bc0e16; }
    #inner-content .album-wrap .gallery-item .thumbnail {
      position: relative;
      overflow: hidden;
      border-radius: 0;
      padding: 0;
      border: 0; }
      #inner-content .album-wrap .gallery-item .thumbnail img {
        width: 100%;
        height: auto;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      #inner-content .album-wrap .gallery-item .thumbnail .caption {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        background-image: url(../images/inner-shadow.png);
        background-position: left bottom;
        background-repeat: repeat-x;
        bottom: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        #inner-content .album-wrap .gallery-item .thumbnail .caption > span {
          position: absolute;
          bottom: 14px;
          left: 22px;
          font-size: 14px;
          right: 22px;
          font-weight: bold;
          color: #fff; }
      #inner-content .album-wrap .gallery-item .thumbnail:hover .caption {
        opacity: 1; }
      #inner-content .album-wrap .gallery-item .thumbnail:hover img {
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2); }
    #inner-content .album-wrap.album-page {
      border-bottom: 0; }
    #inner-content .album-wrap.single-post {
      border-bottom: 0; }
  #inner-content .gattachment {
    position: relative;
    margin-bottom: 35px;
    min-height: 150px;
    margin-left: -5px;
    margin-right: -5px;
    text-align: center; }
    #inner-content .gattachment .ggird {
      margin-bottom: 10px;
      padding: 0 5px; }
    #inner-content .gattachment .thumbnail {
      display: inline-block;
      vertical-align: top;
      border: 1px solid #f3f3f3;
      border-radius: 1px;
      margin: 0px;
      padding: 0px;
      width: 100%;
      over-flow: hidden; }
      #inner-content .gattachment .thumbnail > a {
        display: block;
        max-width: 100%;
        overflow: hidden;
        height: 100%; }
      #inner-content .gattachment .thumbnail img {
        width: 100%;
        border-radius: 1px;
        height: auto;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      #inner-content .gattachment .thumbnail:hover img {
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2); }
  #inner-content .post-navigation {
    border-top: 1px solid #f3f3f3;
    padding: 10px 0;
    margin-bottom: 25px; }
    #inner-content .post-navigation h2.screen-reader-text {
      display: none; }
    #inner-content .post-navigation .nav-links {
      display: table;
      width: 100%; }
      #inner-content .post-navigation .nav-links > div {
        display: table-cell;
        vertical-align: top;
        width: 50%; }
        #inner-content .post-navigation .nav-links > div > a {
          color: inherit;
          display: inline-block;
          font-size: 14px;
          line-height: 22px;
          max-width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: relative; }
          #inner-content .post-navigation .nav-links > div > a:after {
            font-family: 'FontAwesome';
            position: absolute;
            top: 0px; }
        #inner-content .post-navigation .nav-links > div.nav-previous > a {
          padding-left: 20px; }
          #inner-content .post-navigation .nav-links > div.nav-previous > a:after {
            content: "\f100";
            left: 0; }
        #inner-content .post-navigation .nav-links > div.nav-next {
          text-align: right; }
          #inner-content .post-navigation .nav-links > div.nav-next > a {
            padding-right: 20px; }
            #inner-content .post-navigation .nav-links > div.nav-next > a:after {
              content: "\f101";
              right: 0; }
  #inner-content.sidebar-left-inner .page-contents {
    padding: 0 52px 50px 15px; }
  #inner-content span.wpcf7-not-valid-tip {
    border: 1px solid;
    color: #f00;
    display: inline-block;
    font-size: 0.8em;
    margin-top: 4px;
    opacity: 0.7;
    padding: 2px 10px; }

.chocolat-wrapper .chocolat-overlay {
  background-color: rgba(0, 0, 0, 0.8); }
.chocolat-wrapper .chocolat-content {
  border: 8px solid rgba(0, 0, 0, 0.7); }
  .chocolat-wrapper .chocolat-content .chocolat-img {
    border: 1px solid rgba(0, 0, 0, 0.5); }
.chocolat-wrapper .chocolat-bottom {
  text-align: center !important;
  background-color: black !important; }
  .chocolat-wrapper .chocolat-bottom .chocolat-description {
    color: #fff;
    float: none; }
  .chocolat-wrapper .chocolat-bottom .chocolat-fullscreen {
    position: absolute;
    left: 15px; }
  .chocolat-wrapper .chocolat-bottom .chocolat-pagination {
    position: absolute;
    right: 0; }

/* 
* Overwrite Bootstrap Style
*/
.label {
  border-radius: 0; }
  .label.label-default {
    /*    background-color: $color_dark4;
        color: $color_deep1;*/ }

.well {
  border-radius: 0;
  box-shadow: none; }

.tab_wrap .nav-tabs {
  display: table;
  width: 100%;
  border-bottom: 0; }
  .tab_wrap .nav-tabs > li {
    margin: 0px;
    float: none;
    display: table-cell; }
    .tab_wrap .nav-tabs > li > a {
      border-radius: 0;
      margin: 0px !important;
      border: 1px solid #bc0e16 !important;
      display: block;
      text-align: center;
      outline: none;
      color: #bc0e16; }
      .tab_wrap .nav-tabs > li > a:hover {
        background: rgba(188, 14, 22, 0.1); }
    .tab_wrap .nav-tabs > li + li {
      padding-left: 5px; }
    .tab_wrap .nav-tabs > li.active > a {
      background: #bc0e16;
      color: #fff; }
.tab_wrap .tab-content {
  padding: 23px 0px; }

.panel-group {
  margin-bottom: 30px; }
  .panel-group .panel {
    border-radius: 0;
    border: 0px;
    box-shadow: none; }
    .panel-group .panel .panel-heading {
      border-radius: 0;
      padding: 0px;
      border: 0px; }
      .panel-group .panel .panel-heading .accordion-toggle {
        display: block;
        border: 0;
        text-decoration: none;
        position: relative;
        outline: none;
        padding: 10px 15px 10px 55px;
        font-weight: normal;
        font-size: 16px;
        height: 40px;
        line-height: 20px;
        font-family: "Roboto", sans-serif;
        color: #404040;
        background-color: #ebebeb; }
        .panel-group .panel .panel-heading .accordion-toggle:before {
          position: absolute;
          font-family: 'FontAwesome';
          content: "\f068";
          left: 0;
          height: 40px;
          width: 40px;
          line-height: 40px;
          text-align: center;
          top: 0;
          background-color: #bc0e16;
          color: #fff; }
        .panel-group .panel .panel-heading .accordion-toggle.collapsed:before {
          content: "\f067";
          background-color: #404040; }
    .panel-group .panel .panel-collapse {
      box-shadow: none; }
    .panel-group .panel .panel-body {
      padding: 20px 0px 0;
      box-shadow: none; }
    .panel-group .panel + .panel {
      margin-top: 25px; }

.table thead tr th, .table tbody tr th {
  border-top: 0; }

.btn {
  border-radius: 0;
  font-size: 16px; }
  .btn + .btn {
    margin-left: 5px; }
  .btn.btn-primary {
    border: 0;
    opacity: 0.8;
    text-align: center; }
  .btn.btn-submit {
    padding: 12px 25px 11px;
    background-color: #bc0e16;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600; }
    .btn.btn-submit:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset; }

.form-control {
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

textarea.form-control {
  max-height: 150px;
  resize: vertical; }

img.wpcf7-captchac {
  height: 50px;
  width: 100px;
  padding: 8px; }

.modal .modal-dialog {
  margin-top: 100px; }
  .modal .modal-dialog .modal-content {
    border-radius: 0; }

.alert {
  border-radius: 0; }

#download-preview .modal-body {
  padding: 0; }

form .form-title {
  margin-bottom: 13px; }
form .form-control {
  border-radius: 0;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  box-shadow: none;
  color: #696969;
  height: 43px;
  padding: 6px 14px;
  font-size: 16px; }
  form .form-control:focus {
    background-color: #fff;
    border-color: #bc0e16;
    border-radius: 1px;
    box-shadow: none; }
form textarea.form-control {
  min-height: 180px; }
